html, body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: monospace;
}

code {
  display: block;
  padding: 20px;
  white-space: pre;
  background-color: rgb(61, 61, 61);
  color: rgb(189, 234, 255);
  max-width: 640px;
}

code .hl {
  color: rgb(255, 130, 249);
} 

.page {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-gap: 20px;
  min-height: 100vh;
}

.panel {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--bg);
  color: #fff;
}

.content {
  padding: 20px;
}

.user {
  display: inline-block;
  padding: 20px;
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
  margin-right: 10px;
}


